
.zone-button {
  display: block;
  position: fixed;
  width: 20%;
  height: 20%;
  z-index: 99;
  min-width: 300px;
  max-width: 400px;
  max-height: 300px;
  transition: 1s;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 20%;
    height: 20%;
  }

  &.tl {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 60% 0, 80% 80%, 0 60%);
    transform: scale(0.6);
    transform-origin: top left;
  }

  &.br {
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 100%, 100% 40%, 20% 20%, 30% 100%);
    transform: scale(0.6);
    transform-origin: bottom right;
  }

  &:hover {
    &.tl {
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0 70%);
    }

    &.br {
      clip-path: polygon(100% 100%, 100% 30%, 0 0, 30% 100%);
    }
  }

  &__content {
    position: absolute;
    padding: 1rem;

    @media (min-width: 768px) {
      padding: 2rem;
    }

    .tl & {
      top: 0;
      left: 0;
    }

    .br & {
      right: 0;
      bottom: 0;
    }
  }

}