:root {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-headings: 'Chakra Petch', sans-serif;
  --font-body: 'Didact Gothic', sans-serif;

  --color-dark-one: #151515;
  --color-dark-two: #181818;
  --color-dark-three: #1A1A1A;

  --color-light-one: #1E1E1E;
  --color-light-two: #212121;
  --color-light-three: #232323;

  --color-engineer: #641212;
  --color-writer: #1E306B;
}

.color-bg-engineer {
  background-color: var(--color-engineer);
}

.color-bg-writer {
  background-color: var(--color-writer);
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

body,
p,
a {
  font-family: var(--font-body);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  --minFontSize: 2rem;
  --maxFontSize: 6rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );

  &.small {
    --minFontSize: 1.5rem;
    --maxFontSize: 3rem;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  }
}

p {
  --minFontSize: 1rem;
  --maxFontSize: 1.5rem;
  --scaler: 5vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  line-height: 1.1;
}